<%- include("templates/header", {title: 'LinkMorpher - Inactive', additionalStyle: 'authentication.css'}) %>
<main class="vh-100 d-flex flex-column justify-content-center align-items-center text-light">
    <div class="container d-flex flex-column fw-medium">
        <div class="mb-5">
            <div class="d-flex gap-4 align-items-center">
                <div class="text fs-1 mb-3"> URL Inactive</div>
                <img src="lock.png" alt="Inactive Page" class="img-thumbnail bg-transparent border-0" style="height: 10vh;">
            </div>
            <div>
                <div class="text fs-4">You silly hacker, the content you are trying to access is inactive.</div>
                <div class="text fs-4">You are not authorized to access the content</div>
            </div>
        </div>
        <div>
            <a href="/home" class="btn btn-info"> Go back </a>
        </div>
    </div>
</main>           
<%- include("templates/footer") %>