<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand fw-bold fs-3" href="/">LinkMorpher</a>
        </div>
        <% if (isUserSignedIn) { %> 
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn nav-link active fw-medium text-light" aria-current="page" href="/home/logout">Log Out</a>
                  </li>
            </ul>
         <% } else {%>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn nav-link active fw-medium text-light" aria-current="page" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn nav-link active fw-medium text-light" href="/login">Log In</a>
                  </li>
            </ul>
        <% } %>
      </div>
  </nav>