<% if (isUserSignedIn) { %> 
    <div class="shadow-sm p-3 bg-body-tertiary rounded row p-4 mx-5 my-5 bg-opacity-75 border border-dark-subtle">
        <form action="/shortener" method="POST" class="d-flex my-4 flex-column justify-content-center ">
            <input required placeholder="Enter a Url" type="url" name="fullUrl" id="fullUrl" class="form-control col border border-2 border-dark-subtle mr-2" >
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary" type="submit">Shrink</button>
            </div>
        </form>
        <% if (typeof shortURL !== 'undefined') { %>
            <div class="alert alert-success mt-3">
              <p>Shortened URL: <a href="/shortener/<%=shortURL%>"id="shortened-link"><%= shortURL %></a></p>
            </div>
        <% } %>
    </div>
 <% } %>
<main class="container-fluid py-5" style="max-height: 75%">
    <h1 class="my-4"> Contents </h1>
    <table class="table table-hover table-borderless">
      <tbody>
        <% if (locals.recentURLs) {%>
            <% let i = 0; %>
            <% for(i = 0; i < recentURLs.length; i++) { %>
                <%- include("./shortenerCard", {url: recentURLs[i]}) %>
            <% } %>
        <% } %>
      </tbody>
    </table>
</main>