<% if (isUserSignedIn) { %> 
  <div class="shadow-sm p-3 bg-body-tertiary rounded row p-4 mx-5 my-5 bg-opacity-75 border border-dark-subtle">
    <form id="paper" method="POST" action="/textUrls/upload" class="d-flex justify-content-center align-items-center flex-column needs-validation">
      <div id="margin" class="text-primary-emphasis fw-semibold edit-text">Title: <input id="title" value="" class="text-primary-emphasis" type="text" name="title"></div>
      <textarea placeholder="Enter something funny." class="edit-text paper" id="text" name="text" rows="4" 
      style="overflow: hidden; word-wrap: break-word; resize: none; height: auto; max-width: 700px;
      min-width: 600px;" required></textarea>  
      <br>
      <div class="d-flex flex-wrap flex-column align-items-center align-self-center align-content-center mt-5 text-dark" style="width: 600px;" id="customized_name">
        <label for="customized_name" class="fs-6 fw-medium">Customized Url Name </label>
        <input required placeholder="Enter a customized url name" type="text" name="customized_name" class="form-control col border border-2 <%= locals.error ? 'is-invalid border-danger' : 'border-dark-subtle' %>" >
        <div class="invalid-feedback">
            <%= locals.error %>
        </div>
      </div>
      <button class="btn btn-primary mt-5 px-5">
        Upload
      </button>
    </form>
  </div>
<% } %>
<main class="container-fluid py-5" style="max-height: 75%">
  <h1 class="my-4"> Contents </h1>
  <table class="table table-hover table-borderless">
    <tbody>
      <% if (locals.texts) {%>
        <% let i = 0; %>
        <% for(i = 0; i < texts.length; i++) { %>
            <%- include("./textCard", {text: texts[i]}) %>
        <% } %>
      <% } %>
    </tbody>
  </table>
</main>

<script type="text/javascript">
    textarea = document.querySelector("#text");
    textarea.addEventListener('input', autoResize, false);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }
</script>